<footer class="site-footer">
  <div class="footer-wrapper">
    <div class="footer-columns">
      <div class="footer-column">
        <h4>SHOP BY</h4>
        <ul>
          <li><a href="#">Shop All</a></li>
          // Add links
        </ul>
      </div>
      // Add other columns
    </div>
    <div class="footer-bottom">
      <div class="footer-copy">© GROWN ALCHEMIST 2026</div>
      <div class="footer-social">
        <a href="#">FACEBOOK</a>
        // Add social links
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "presets": [{ "name": "Footer" }]
}
{% endschema %}