<nav class="main-nav">
  <div class="nav-container">
    <ul class="nav-menu">
      <li><a href="#">SHOP ALL</a></li>
      <li><a href="#">NEW</a></li>
      <li>
        <a href="#">SKINCARE</a>
        <div class="mega-dropdown">
          <div>
            <a href="#">SHOP ALL</a>
            <a href="#">CLEANSERS + EXFOLIANTS</a>
            <a href="#">SERUMS + OILS</a>
            <a href="#">MOISTURISERS</a>
          </div>
          <div>
            <a href="#">EYE CARE</a>
            <a href="#">LIP CARE</a>
            <a href="#">MASKS</a>
            <a href="#">TONERS + MISTS</a>
          </div>
          <div>
            <a href="#">NIGHT TREATMENTS</a>
            <a href="#">SKIN PROTECTION + SPF</a>
            <a href="#">ROUTINES + KITS</a>
            <a href="#">MEN'S SKINCARE</a>
          </div>
        </div>
      </li>
      // Add other menu items similarly
    </ul>
  </div>
</nav>

{% schema %}
{
  "name": "Main Navigation",
  "presets": [{ "name": "Main Navigation" }]
}
{% endschema %}